.card {
  height: 500px;
  width: 500px;
  align-content: center;
  align-self: center;
  align-items: center;
  position: relative;
  left: 44%;
  border-style: solid;
  transition: 0.3s;
}


 h1{
     text-align: center;
 }
img {
  border-radius: 10%;

  height: 100%;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.card-text {
  
  text-align: center;
  border-style: dotted;
  font-weight: bold;
}



